/* @import url(../../../styles.css); */

section{
    margin-top: 3%;
    width: var(--anchomaximo);
    margin: auto;
    border-top: 1px solid lightgray;
    padding: var(--margingrid);
    padding: 3%;

}
section .opciones{
    padding: 2%;
}
section .opciones .opcion{

    transition: ease-in .5s;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
}



section .opciones .datosTrans{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    margin: 1% 0;
  
}

section .opciones .gratis{
    
    background-color: rgba(211, 211, 211, 0.167);
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
section .opciones .opcion:hover, section .opciones .gratis:hover {
    box-shadow: 5px 5px 10px lightgray;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
section .opciones .empty{
    border-bottom: 1px solid lightgray;
}
section .opciones .opcion .bloque{
    display: flex;
    align-items: center;
    justify-content: left;
}



section .opciones .opcion .bloque img{
    width: 120px;

}

section .opciones .opcion .bloque h5, section .opciones .opcion .bloque p, section .opciones .opcion h6{
   font-size: calc(var(--fontsize));
   font-weight: 700;
   line-height: 13px;

}


/* Input Radio */
.form-check-input:checked {
    background-color: #00b3ff!important;
    border-color: #00b3ff!important;
}
.form-check-input:focus {
    border-color: rgba(255, 255, 255, 0)!important;
    background-color: #00b3ff!important;
    outline-width: none!important;
    text-shadow: 1rem rgb(13 110 253 / 100%)!important;
    background-image: url(../../../assets/images/rec.svg)!important;
}

.opciones .masDetalle{
    overflow: hidden;
    height: 0;
    transition: all ease 1s;
}
.opciones:hover .masDetalle{
    height: 200px;
}