<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div id="dismiss">
      <img class="close" src="../../../assets/images/close-30.png" alt="">
    </div>

    <div class="sidebar-header">
      <img src="https://www.endado.com/images/header/logo.svg" alt="">
    </div>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Busca por producto, marca, referencia, OEM" aria-label="Search">
      <button class="btn" type="submit">Buscar</button>
    </form>

    <ul class="list-unstyled components">
      <li class="active">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item active">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">

                <div class="doble">
                  <img src="https://www.endado.com/images/header/mantenimiento.svg" />
                  <h5>Mantenimiento</h5>
                </div>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body servicios">
                <div>
                  <div class="servicio">Aditivos diésel</div>
                  <div class="servicio"> <a href="http://">Limpia DPF</a></div>
                  <div class="servicio"><a href="http://">Limpia EGR</a></div>
                  <div class="servicio"><a href="http://">Limpia EGR</a></div>
                  <div class="servicio"><a href="http://">Reductor de humo diésel</a></div>
                </div>
                <div>
                  <div class="servicio"><a href="http://">Aditivos gasolina</a></div>
                  <div class="servicio"><a href="http://">Limpia inyectores gasolina</a></div>
                  <div class="servicio"><a href="http://">Mantenimiento gasolina</a></div>
                  <div class="servicio"><a href="http://">Reductor de humo gasolina</a></div>
                  <div class="servicio"><a href="http://">Sustituto de plomo</a></div>
                </div>
                <div>
                  <div class="servicio"><a href="http://">Otros aditivos</a></div>
                  <div class="servicio"><a href="http://">Antifricción</a></div>
                  <div class="servicio"><a href="http://">Arranque rápido</a></div>
                  <div class="servicio"><a href="http://">Aumentador de compresión</a></div>
                  <div class="servicio"><a href="http://">Lavado de cárter</a></div>
                  <div class="servicio"><a href="http://">Limpia radiadores</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <div class="doble">
                  <img src="https://www.endado.com/images/header/aceites.svg" />
                  <h5>Aceites</h5>
                </div>
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body servicios">
                <div>
                  <div class="servicio">Aditivos diésel</div>
                  <div class="servicio"> <a href="http://">Limpia DPF</a></div>
                  <div class="servicio"><a href="http://">Limpia EGR</a></div>
                  <div class="servicio"><a href="http://">Limpia EGR</a></div>
                  <div class="servicio"><a href="http://">Reductor de humo diésel</a></div>
                </div>
                <div>
                  <div class="servicio"><a href="http://">Aditivos gasolina</a></div>
                  <div class="servicio"><a href="http://">Limpia inyectores gasolina</a></div>
                  <div class="servicio"><a href="http://">Mantenimiento gasolina</a></div>
                  <div class="servicio"><a href="http://">Reductor de humo gasolina</a></div>
                  <div class="servicio"><a href="http://">Sustituto de plomo</a></div>
                </div>
                <div>
                  <div class="servicio"><a href="http://">Otros aditivos</a></div>
                  <div class="servicio"><a href="http://">Antifricción</a></div>
                  <div class="servicio"><a href="http://">Arranque rápido</a></div>
                  <div class="servicio"><a href="http://">Aumentador de compresión</a></div>
                  <div class="servicio"><a href="http://">Lavado de cárter</a></div>
                  <div class="servicio"><a href="http://">Limpia radiadores</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <div class="doble">
                  <img src="https://www.endado.com/images/header/frenado.svg" />
                  <h5>Frenado</h5>
                </div>
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body servicios">
                <div>
                  
                  <div class="servicio">Aditivos diésel</div>
                  <div class="servicio"> <a href="http://">Limpia DPF</a></div>
                  <div class="servicio"><a href="http://">Limpia EGR</a></div>
                  <div class="servicio"><a href="http://">Limpia EGR</a></div>
                  <div class="servicio"><a href="http://">Reductor de humo diésel</a></div>
                </div>
                <div>
                  <div class="servicio"><a href="http://">Aditivos gasolina</a></div>
                  <div class="servicio"><a href="http://">Limpia inyectores gasolina</a></div>
                  <div class="servicio"><a href="http://">Mantenimiento gasolina</a></div>
                  <div class="servicio"><a href="http://">Reductor de humo gasolina</a></div>
                  <div class="servicio"><a href="http://">Sustituto de plomo</a></div>
                </div>
                <div>
                  <div class="servicio"><a href="http://">Otros aditivos</a></div>
                  <div class="servicio"><a href="http://">Antifricción</a></div>
                  <div class="servicio"><a href="http://">Arranque rápido</a></div>
                  <div class="servicio"><a href="http://">Aumentador de compresión</a></div>
                  <div class="servicio"><a href="http://">Lavado de cárter</a></div>
                  <div class="servicio"><a href="http://">Limpia radiadores</a></div>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <div class="doble">
                  <img src="https://www.endado.com/images/header/amortiguadores.svg" />
                  <h5>Amortiguadores y dirección</h5>
                </div>
              </button>
            </h2>
            <div id="flush-headingFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body servicios">
                <div>
                  <!-- <div class="servicio" [routerLink]="['/Aditivos_diésel']">Aditivos diésel</div> -->
                  
               <div class="servicio">Aditivos diésel</div> 
                  <div class="servicio"> <a href="http://">Limpia DPF</a></div>
                  <div class="servicio"><a href="http://">Limpia EGR</a></div>
                  <div class="servicio"><a href="http://">Limpia EGR</a></div>
                  <div class="servicio"><a href="http://">Reductor de humo diésel</a></div>
                </div>
                <div>
                  <div class="servicio"><a href="http://">Aditivos gasolina</a></div>
                  <div class="servicio"><a href="http://">Limpia inyectores gasolina</a></div>
                  <div class="servicio"><a href="http://">Mantenimiento gasolina</a></div>
                  <div class="servicio"><a href="http://">Reductor de humo gasolina</a></div>
                  <div class="servicio"><a href="http://">Sustituto de plomo</a></div>
                </div>
                <div>
                  <div class="servicio"><a href="http://">Otros aditivos</a></div>
                  <div class="servicio"><a href="http://">Antifricción</a></div>
                  <div class="servicio"><a href="http://">Arranque rápido</a></div>
                  <div class="servicio"><a href="http://">Aumentador de compresión</a></div>
                  <div class="servicio"><a href="http://">Lavado de cárter</a></div>
                  <div class="servicio"><a href="http://">Limpia radiadores</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="#" class="download">Contacto</a>
      </li>
      <li>
        <a href="#" class="article">Mi cuenta</a>
      </li>

    </ul>
   
    <div class="info">
     
      <p>Atención de L-V de 9 a 18:30</p>
      <a href="tel:+34916610206"><img src="../../../assets/images/teléfono-50.png"/></a>
      <a href="mailto:endado@endado.com"><img src="../../../assets/images/post-50.png"/></a>
      <a href="mailto:endado@endado.com"><img src="../../../assets/images/lleno-50.png"/></a>
    
    </div>
  </nav>

</div>