@import url(../styles.css);
*{
scroll-behavior: auto;
    font-family: var(--fuente-princial);
}

header{
    width: 100%;
    background-color: var(--color-princial);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--padding)*2);

    
}
header a{
    text-decoration: none;
    color:#ffff;
    font-size: calc(var(--fontsize)*1.4);
}
header p{
    color:#ffff;
 
}
.banner{
    background-color: var(--color-secundario);
    text-align: center;
    font-weight: 700;
}

.info{
    display: inline-block;
}
/* Menu */
button {
    background-color: rgba(255, 255, 255, 0)!important;
    border: none!important;
}
a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
a:hover,
a:focus {
color: var(--color-secundario)!important;
}
.navbar {
    border: none;
    box-shadow: none!important;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* Burger */
.botonMenu{
    margin-top: 30%;
    display: inline;
}
.burger{
    border-top: 2px solid rgb(255, 255, 255);
    margin-bottom: var(--padding);
    width: 1.875em;
    display: block;
    transition: all ease .5s;

}

.burger:nth-child(1){
    width: 33%;
}
.burger:nth-child(2){
    width: 66%;
}

.botonMenu:hover .burger:nth-child(1),.botonMenu:hover .burger:nth-child(2){
    width: 100%;
} 

@media (max-width: 600px) {
    .info {
      display: none;
    }
  }
