 <app-menu></app-menu>
  <header>
    <div id="content">
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="botonMenu">
           <span class="burger"></span>
           <span class="burger"></span>
           <span class="burger"></span>
          </button>
        </div>
      </nav>
    </div>
    <img src="https://www.endado.com/images/header/logo.svg" alt="">
    <div class="info">
      <a href="tel:+34916610206">916610206</a>
      <p>L-V de 9 a 18:30</p>
    </div>
  </header>

  <section class="banner">
    <p>¡ENVIOS RÁPIDOS Y GRATIS!</p>
  </section>

  <app-tracking></app-tracking>
  <app-envio></app-envio>
